.cartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 94%;
  padding-top: 2rem;
  background-color: rgb(119, 92, 92);
}
.subtotal {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid rgb(199, 137, 57);
  color: white;
  width: 50rem;
  font-size: 1.25rem;
}
@media (max-width: 750px) {
  .subtotal {
    width: 90%;
  }
}
