* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: rgb(119, 92, 92);
  padding: 2rem 1rem;
}
